.header-font-color {
    color: white;
}

.header-nav-color {
    color: white;
}

.header-bg {
    background-color: #3C8DBC;
}

.main-color {
    color: #3C8DBC;
}

.main-bg-color {
    background-color: #3C8DBC;
}

.mui-bar-tab .mui-tab-item {
    background: white;
}

.mui-bar-tab .mui-tab-item.mui-active {
    color: #3C8DBC;
}

/*告警页的皮肤*/
.mui-slider-indicator.mui-segmented-control {
    background-color: #3C8DBC;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
    color: white;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item {
    color: #24BCE8;
}

.mui-slider-progress-bar {
    /*background-color: white;*/
}

.slider-progressB-bar {
    background-color: #3C8DBC
}

.mui-btn-block{
	border: 0;
	color: white;
	background-color: #3C8DBC
}

/*首页tab按钮颜色*/
.mui-segmented-control .mui-control-item {
  color: #3C8DBC;
  border-color: #3C8DBC;
  border-left: 1px solid #3C8DBC;
}

.mui-segmented-control .mui-control-item.mui-active {
  color: #fff;
  background-color: #3C8DBC;
}

.mui-segmented-control {
  border: 1px solid #3C8DBC;
}

#cd-timeline::before {
    background-color: #3C8DBC;
}

#warning-category-head-active {
  color: #3C8DBC;
}
